@font-face {
    font-family: 'U8ProLight'; /*a name to be used later*/
    src: url('M2ng_Tuvid/assets/U8Pro-Light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'U8ProMedium'; /*a name to be used later*/
    src: url('M2ng_Tuvid/assets/U8Pro-Medium.otf'); /*URL to font*/
}


html {
    background-color: black;
    color: white;
    font-family: U8ProMedium;
}

.mang {
    position: absolute;
    top: 400px;
}

#mang1 {
    left: 200px;
}

#mang2 {
    left: 810px;
}

#mang3 {
    left: 1420px;
}


.mang img {
    width: 300px;
    height: 300px;
    border: solid white 3px;
}

.mang video {
    width: 300px;
    height: 300px;
    border: solid white 3px;
}

#gamesNames {
    position: fixed;
    left:0;
    top:0
}

#background {
    position: fixed;
    left:0;
    top:0
}