html {
    background-color: black;
    color: white;
}

p {
    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

.mang {
    position: absolute;
    top: 400px;
}

#mang1 {
    left: 200px;
}

#mang2 {
    left: 810px;
}

#mang3 {
    left: 1420px;
}


.mang img {
    width: 300px;
    height: 300px;
    border: solid white 3px;
}