@font-face {
    font-family: 'U8ProLight'; /*a name to be used later*/
    src: url('M2ng_Tuvid/assets/U8Pro-Light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'U8ProMedium'; /*a name to be used later*/
    src: url('M2ng_Tuvid/assets/U8Pro-Medium.otf'); /*URL to font*/
}


html {
    background-color: black;
    color: white;
    font-family: U8ProMedium;
}

@media only screen and (max-width: 1680px) and (max-height: 1050px) {
    body {
        zoom: 95%;
    }
}

@media only screen and (max-width: 1601px) and (max-height: 1080px) {
    body {
        zoom: 83%;
    }
}

@media only screen and (max-width: 1600px) and (max-height: 900px) {
    body {
        zoom: 77%;
    }
}

@media only screen and (max-width: 1368px) and (max-height: 768px) {
    body {
        zoom: 75%;
    }
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
    body {
        zoom: 80%;
    }
}

.mang {
    position: absolute;
    top: 400px;
}

#mang1 {
    left: 200px;
}

#mang2 {
    left: 810px;
}

#mang3 {
    left: 1420px;
}


.mang video {
    width: 300px;
    height: 300px;
}

#gamesNames {
    position: fixed;
    left:0;
    top:0;
}

#background {
    position: fixed;
    left:0;
    top:0;
}