@font-face {
    font-family: 'U8ProLight'; /*a name to be used later*/
    src: url('assets/U8Pro-Light.otf'); /*URL to font*/
}

@font-face {
    font-family: 'U8ProMedium'; /*a name to be used later*/
    src: url('assets/U8Pro-Medium.otf'); /*URL to font*/
}

html, body {
    margin: 0;
    background-color: black;
    font-family: U8ProLight;
}

@media only screen and (max-width: 1680px) and (max-height: 1050px) {
    body {
        zoom: 95%;
    }
}

@media only screen and (max-width: 1601px) and (max-height: 1080px) {
    body {
        zoom: 83%;
    }
}

@media only screen and (max-width: 1600px) and (max-height: 900px) {
    body {
        zoom: 77%;
    }
}

@media only screen and (max-width: 1368px) and (max-height: 768px) {
    body {
        zoom: 75%;
    }
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
    body {
        zoom: 80%;
    }
}

body {
    overflow: hidden;
    position: absolute;
    left: 100px;
    top: 100px;
}

#chooseLang {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 4;
}

.mang {
    position: absolute;
    top: 400px;
}

#mang1 {
    left: 200px;
}

#mang2 {
    left: 810px;
}

#mang3 {
    left: 1420px;
}

.mang img {
    width: 300px;
    height: 300px;
}

#back_to_menu {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: white;
}

#dialog_animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 1700px;
    height: 800px;
    background-color: black;
    z-index: 2;
}

#dialog {
    position: absolute;
    float: left;
    top: 200px;
    width: 50%;

}

#welcome_screen_arrow_back {
    position: absolute;
    height: 35px;
    width: auto;
    top: 520px;
    left: 0;
}

#welcome_screen_arrow_forward{
    position: absolute;
    height: 35px;
    width: auto;
    top: 520px;
    left: 550px;
}

#animation {
    position: absolute;
    top: 200px;
    left: 950px;
}

#animation_img {
    position: absolute;
    height: 420px;
    width: 420px;
    top: 40px;
    left: 40px;
}

#dialog h1 {
    color: chartreuse;
    font-size: 55px;
    font-family: U8ProMedium;
}

#dialog p {
    color: white;
    font-size: 30px;
}

#playbutton {
    position: absolute;
    left: 550px;
    top: 450px;
}

#game_animation {
    position: absolute;
    top: 1300px;
    left: 0;
    width: 1500px;
    height: auto;
    z-index: 3;
}

#game_animation img {
    position: absolute;
    width: 100%;
}

#game_animation #game_text {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 30px;
    color: white;
    width: 60%;
}

#game_animation #start {
    position: absolute;
    left: 75%;
    top: 100px;
    color: white;
    font-size: 50px;
    z-index: 1;
    border: solid white 3px;
}

#game_animation #phase_animation {
    position: absolute;
    left: 70%;
    top: 40px;
    width: 25%;
    height: auto;
}

#game_animation #arrow_down {
    position: absolute;
    top: 380px;
    left: 50%;
    z-index: 1;
}

/*
ENDGAME SCREEN BUTTON
 */

@keyframes moveInGoToScore {
    100% {top: 880px;}
}

#goToScore {
    position: fixed;
    top: 1600px;
    left: 1500px;
    width: 400px;
    height: 200px;
}

@keyframes moveIn {
    100% {left:0; top:500px;}
}

@keyframes moveOut {
    100% {left:0; top:1300px;}
}

/*The right answer!*/
@-webkit-keyframes rightAnswerDropped {
    0%   {filter: drop-shadow(0 0 0px lawngreen);}
    50%  {filter: drop-shadow(0 0 30px lawngreen);}
    100% {filter: drop-shadow(0 0 0px lawngreen);}
}
/*The wrong answer*/
@keyframes wrongAnswerDropped {
    0%   {filter: drop-shadow(0 0 0px red);}
    50%  {filter: drop-shadow(0 0 30px red);}
    100% {filter: drop-shadow(0 0 0px red);}
}

@keyframes dragHere {
    0% { box-shadow: 0 0 0 chartreuse; }
    40% { box-shadow: 0 0 30px chartreuse; }
    60% { box-shadow: 0 0 30px chartreuse; }
    100% { box-shadow: 0 0 0 chartreuse; }
}

#s22sk {
    position: absolute;
}

#skeem {
    position: absolute;
    top: 50px;
    left: 0;
    width: 1500px;
    height: auto;
}

#final_animation {
    position: fixed;
    left: 1620px;
    top: 150px;
}

.draggable {
    position: absolute;
    height: 130px;
    width: 130px;
    z-index: 1;

}

.non-draggable {
    position: absolute;
    height: 130px;
    width: 130px;
}

.yesdrop {
    position: absolute;
    height: 130px;
    width: 130px;
}


.dropzone {
    height: 150px;
    width: 150px;
    border-radius: 100%;

}
#yes-drag {
    position: absolute;
    top: 500px;
    left: 0;
    width: 1200px;
}

#yes-drag img{
    position: relative;
}


#a1 {
    position: absolute;
    top: 194px;
    left: -2px;
}

#a2 {
    position: absolute;
    top: 194px;
    left: 185px;
}


#a3 {
    position: absolute;
    top: 194px;
    left: 374px
}

#a4 {
    position: absolute;
    top: 194px;
    left: 561px;
}



#a5 {
    position: absolute;
    top: 288px;
    left: 788px;
}

#a6 {
    position: absolute;
    top: 288px;
    left: 975px;
}


#a7 {
    position: absolute;
    top: 288px;
    left: 1165px
}

#a8 {
    position: absolute;
    top: 288px;
    left: 1351px;
}


@-webkit-keyframes nAnswerDropped {
    0% {opacity: 0}
    100% {opacity: 1}
}

#n1 {
    position: absolute;
    top: 108px;
    left: 795px;
    opacity: 1;
    visibility: hidden;
}

#n2 {
    position: absolute;
    top: 108px;
    left: 985px;
    opacity: 1;
    visibility: hidden;
}


#n3 {
    position: absolute;
    top: 108px;
    left: 1175px;
    opacity: 1;
    visibility: hidden;
}

#n4 {
    position: absolute;
    top: 108px;
    left: 1360px;
    opacity: 1;
    visibility: hidden;
}
/*
Blocker
*/

#blocker {
    position: fixed;
    z-index: 2;
    background-color: transparent;
    width: 1920px;
    height: 1080px;
    top: 1080px;
    left: 0;
}


#circle {
    position: absolute;
    top: -50px;
    left: 600px;
    background-color: black;
    z-index: 1;
    width: 150px;
    height: 150px;
    color: chartreuse;
    border-radius: 100%;
}

#circle p {
    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

#endScreen {
    position: absolute;
    width: 1520px;
    height: 1080px;
    left: 0;
    top: 0;
    background-color: black;
    color: chartreuse;
    visibility: hidden;
    z-index: 3;
}


#endScreenCongratz {
    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

#endScreenScore {
    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

#restartGame {
    text-align: center;
    line-height: 100px;
    font-size: 60px;
    color: white;
    border: solid white 3px;
}

#hintBox {
    position: absolute;
    width: 1370px;
    height: 200px;
    top: 1300px;
    left: 50px;
    background-image: url('assets/vihje slaid.png');
}

@keyframes moveInHintBox {
    100% {top:800px;}
}




#hint1 {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 70px;
}

#hint2 {
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 20px;
}

#hi1 {
    position: absolute;
    color: chartreuse;
    left: 40px;
    top: 350px;
}

#hi2 {
    position: absolute;
    color: chartreuse;
    left: 231px;
    top: 350px;
}

#hi3 {
    position: absolute;
    color: chartreuse;
    left: 418px;
    top: 350px;
}

#hi4 {
    position: absolute;
    color: chartreuse;
    left: 605px;
    top: 350px;
}

#hi5 {
    position: absolute;
    color: chartreuse;
    left: 832px;
    top: 440px;
}

#hi6 {
    position: absolute;
    color: chartreuse;
    left: 1023px;
    top: 440px;
}

#hi7 {
    position: absolute;
    color: chartreuse;
    left: 1213px;
    top: 440px;
}

#hi8 {
    position: absolute;
    color: chartreuse;
    left: 1400px;
    top: 440px;
}

.hi {
    border: solid chartreuse 2px;
    border-radius: 30%;
    padding: 3px 10px;
}